# Build output
bin/
obj/
publish/

# NuGet
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets
project.assets.json
project.nuget.cache

# Installer output
Installer/


# User-specific files
*.user
*.suo
.vs/
